h1{
    font-family:  Encode Sans;
    font-style : Bold;
    font-size  : 48px;
    line-height: 64px;
    line-height: 107%;
    text-align: center;
    color: #ffffff;
    vertical-align: Top;
}
body{
    background-color: #008A85;
}
.head{
    font-family: Encode Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}
.content{
    font-family: Karla;
    font-size: 16px;
    color: white;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;

}
.content-div{
    font-family: Karla;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}